<!DOCTYPE html>
<html lang="pt-BR">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-34VB4BFCTX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-34VB4BFCTX');
</script>

  
  
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <header class="site-header">
    <h1>{{ page.title }}</h1>
  </header>

  <main class="content">
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>© {{ site.time | date: "%Y" }} — Milton Baptista</p>
  </footer>

</body>
</html>
